*{
    margin: 10px;
    text-align: center;
}

h1{
    text-align: center;
}
body{
    background-color:lightcyan
}
ul{
    text-align: center;
    text-decoration:dashed;
}
input{
    text-align: center;
}
button{
    border-radius: 5px;
}